.navbar{
  position: absolute !important;
  top: 40px;
  width: 80%;
  margin: 0 9%;
  color: white !important;
  background-color: #404040;
  border-radius: 2.5em;
  padding: 20px;
}

.right-side{
  background-color: #0D0D0D;
}

.cover-img{
  margin-top: 100px;
}

