.what-i-do{
    color: white;
    padding-top: 150px;
    padding-bottom: 27px;
}

.card{
    background-color: transparent;
    border: 1px solid #404040;
}

.fa-code{
    font-size: 20pt;
    color: blue;
}

.progress {
    width: 100%;
    height: auto;
    background-color: #404040;
}
  
.mybar {
    width: 1%;
    height: 5px;
    background-color: blue;
}

.skill{
    margin-top: 5px;
}

#html-skill .mybar{
    width: 95%;
}
#react-skill .mybar{
    width: 80%;
}
#js-skill .mybar{
    width: 85%;
}
#mongodb-skill .mybar{
    width: 80%;
}
#python-skill .mybar{
    width: 80%;
}
#django-skill .mybar{
    width: 80%;
}
#express-skill .mybar{
    width: 85%;
}
#postgres-skill .mybar{
    width: 80%;
}
